body{
        background-color: rgb(255, 255, 255);
}
.map{
        width:28%;
        margin:auto;
}
.map path{
        fill:#e8e9dd;
        stroke: #494949;
        stroke-width: 1px;
        transition: fill 0.3s;
}
.map :hover{
        fill: #c7c9b4;
}
